TaskTwo/Data/CargosSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cargos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cargo" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="cargoId"/>
              <xs:element type="xs:string" name="cargoType"/>
              <xs:element type="xs:int" name="cargoCategoryId"/>
              <xs:element type="xs:double" name="weight"/>
              <xs:element type="xs:double" name="volume"/>
              <xs:element type="xs:string" name="optimalStorageTemperature"/>
              <xs:element type="xs:string" name="isLiquid"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>