TaskTwo/Data/trailersSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="trailers">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="trailer" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:byte" name="trailerId"/>
            <xs:element type="xs:byte" name="trailerCategoryId"/>
            <xs:element type="xs:string" name="loadCapacity"/>
            <xs:element type="xs:string" name="volume"/>
            <xs:element type="xs:string" name="weight"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>