CarPark/CarPark/SemiTrailers/ReadingTrailerData/semi_trailers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SemiTrailers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SemiTrailer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Type" type="xs:string" />
              <xs:element name="LiftingCapacity" type="xs:int" />
              <xs:element name="AvailableVolume" type="xs:int" />
              <xs:element name="AvailableMass" type="xs:int" />
              <xs:element name="UploadedProductType" type="xs:string" />
              <xs:element name="OccupiedVolume" type="xs:int" />
              <xs:element name="OccupiedWeight" type="xs:int" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>